/* テキスト検索・上に出る広告 */
#taw {
  display: none;
}

/* テキスト検索・下に出る広告 */
#bottomads {
  display: none;
}

/* 画像検索・上に出る広告 */
.Rn1jbe {
  display: none;
}

/* 検索結果の間にはさまってくる地図、ツイートなどのカード、他のキーワード候補など */
/* 消したかったら以下のコメントアウトを外してね（オプション、だいぶスッキリする）*/

/*
.ULSxyf {
  display: none;
}
*/